header {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.423);
    .header {
      display: flex;
     flex-direction: column;
     align-items: center;
      gap: 0.5rem;
      padding: 2rem 0;
      nav {
        ul {
          display: flex;
          list-style: none;
          gap: 2rem;
          li{
            a{
                color: black;
                &:hover{
                    color: gray;
                }
            }
          }
        }
      }
    }
  }
  